*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px
}

.title {
  font-family: 'Forum';
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: normal;
}

.text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.section {
  padding: 75px 0;
}

.header {
  padding: 75px 0; 
  background-color: #030303;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  text-transform: uppercase;
  font-family: 'Forum';
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  color: #ffffff;
  padding-left: 70px;
  position: relative;
}

.logo::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 0;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  font-weight: 200;
}

.menu__item + .menu__item {
  padding-left: 76px;
}

.menu__item-link {
  color: #ffffff;
}

.menu__item-link:hover, .menu__item-link:active, .logo:hover {
  color: #9D8665;
}

.logo:hover::before {
  filter: invert(58%) sepia(7%) saturate(1470%) hue-rotate(356deg) brightness(92%) contrast(91%);
}

.welcome {
  background-color: #030303;
}

.welcome-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 115px 0 270px 0;
  background-position: calc(100% - 0px) calc(100% - 0px);
  background-image: url(../assets/img/welcome-bg.jpg);
  background-repeat: no-repeat;
}

.welcome__title {
  color: #ffffff;
  margin-bottom: 25px;
}

.welcome__text {
  color: #ffffff;
  margin-bottom: 101px;
}

.welcome__link {
  background-color: #710707;
  border-radius: 10px;
  padding: 24px 68px;

  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.welcome__link:hover {
  background-color: #9D8665;
}

.visiting {
  padding: 75px 0 0 0;
  margin-bottom: -4px;
}

.visiting__title {
  color: #9D8665;
  position: relative;
  margin-bottom: 103px;
}

.visiting__title::before, .tickets__title::before, .contacts__title::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #710707;
  position: absolute;
  bottom: -29px;
  left: 0;
  right: 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 65px;
  cursor: pointer;
}

.card__img {
  margin-bottom: 20px;
}

.card__title {
  font-family: 'Forum';
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

.card__title::before {
  content: '';
  width: 69%;
  height: 2px;
  position: absolute;
  background-color: #710707;
  bottom: -13px;
  left: 0;
  right: 0;
}

.card__text {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.card__text + .card__text {
  font-size: 18px;
}

.explore {
  background-color: #030303;
  padding-bottom: 74px;
}

.explore-container {
  display: flex;
  justify-content: space-between;
}

.explore-information {
  color: #FFFFFF;
  padding-right: 60px;
}

.explore__title {
  margin-bottom: 105px;
  position: relative;
}

.explore__title::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #710707;
  position: absolute;
  left: 0;
  bottom: -27px;
}

.explore__text {
  font-weight: 200;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

.explore__text--highlight {
  color: #CAAA7D;
}

.explore__img {
  padding-top: 15px;
}

.video {
  padding-top: 90px;
  padding-bottom: 75px;
}

.video-information {
  margin-top: 37px;
  display: flex;
  align-items: center;
}

.video__title {
  width: 85%;
  color: #9D8665;
}

.video__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.tickets {
  background-color: #030303;
  color: #ffffff;
  padding: 75px 0;
}

.tickets__title {
  position: relative;
  margin-bottom: 103px;
}

.tickets-wrapper {
  display: flex;
}

.tickets__img {
  margin-right: 48px;
}

.filter {
  width: 100%;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter__type {
  border: none;
}

.filter__type-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.6px;
}

.filter__item {
  margin-top: 47px;
}

.tickets-form__text {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;

  display: block;
	position: relative;
	padding-left: 40px;
	/*padding-top: 2px;*/
	cursor: pointer;
}

/*---------------------------------------------------------*/

.tickets-form__text:hover,
.tickets-form__text:focus{
	color: #9D8665;
}

.filter-radio input[type="radio"] {
  display: none;
}

.filter-radio input[type="radio"] + .radio-indicator{
	position: absolute;
	top: 4px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #ffffff;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.filter-radio input[type="radio"]:focus + .radio-indicator{
	border-color: #9D8665;
}

.filter-radio input[type="radio"]:checked + .radio-indicator::after{
	content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
}

/*----------------------------------------------------------------------*/

.filter__item-text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.button-container {
  border: 3px solid #FFFFFF;
  border-radius: 0px;
  padding: 9px 15px;
  width: 150px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.number {
  all: unset;
  width: 3em;
  text-align: center;
}

.filter__type-button {
  border: none;
  color: #ffffff;
  background: inherit;
}

.filter__item-number {
  margin-top: 10px;
}

.filter__item-number + .filter__item-number {
  margin-top: 35px;
}

.filter__type-title-number {
  text-align: right;
}

.filter__type-number {
  padding: 0;
}

.cost__text {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  text-align: right;
  margin-top: 41px;
}

.cost__btn {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #000000;
  border: none;

  background: #FFFFFF;
  border-radius: 2px;
  padding: 12px 38px;
  margin-left: auto;
  margin-right: 0;
  display: block;
  margin-top: 50px;
}

.contacts {
  padding-top: 75px;
  padding-bottom: 75px;
}

.contacts__title {
  position: relative;
  color: #9D8665;
  margin-bottom: 113px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.contacts__info-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 35px;
}

.contacts__info-text + .contacts__info-text {
  margin-top: 20px;
}