.song
  width: 100%
  height: 210px
  overflow-y: hidden
  margin-bottom: 23px
  &-sliders // будем двигать весь контейнер
    display: flex
    flex-direction: column
    position: relative
    //bottom: 1320px
    top: 0
    left: 0
    height: 10000px
  &__slider
    transition: all 1s
    height: 220px
    padding-bottom: 10px
  &-item
    background-color: #01081f
    border-radius: 10px
    padding: 15px 15px 10px
    color: #5e6a81
    & + .song-item
      margin-top: 30px
    &__title
      font-weight: normal
    &__button 
      margin-right: 15px
      & img
        width: 30px
        height: 30px
      &:hover
        filter: invert(62%) sepia(54%) saturate(4339%) hue-rotate(167deg) brightness(88%) contrast(136%)
      &--small 
        & img
          width: 20px
          height: 20px
    &__progress
      margin: auto
      //margin-left: 15px
      width: 100%
      height: 3px
      border-radius: 10px
      outline: none
      transition: background 450ms ease-in
      -webkit-appearance: none
      &::-webkit-slider-thumb
        width: 15px
        height: 15px
        border-radius: 50%
        -webkit-appearance: none
        cursor: pointer
        background: #fff
  &-item-wrapper
    display: flex
    align-items: center
    width: 100%
    &--volume
      display: flex
      border-left: 1px solid rgba(255, 255, 255, 0.5)
      padding-left: 20px
      width: 100%


.song-slider-inner
  transition: all 1s
  padding-bottom: 10px
  height: 220px